img {
    width: 98%;
    margin-left: 1%;
}

.button.is-link.is-focused{
    width: 48.5%;
}

#rightcolumn {
    padding-left: 0;
}

#maincontent {
    padding-right: 0;
}

#backbutton {
    margin-right: 1%;
}